:host {
  display: block;
  padding: 10px;
}
ul {
  list-style: none;
  padding: 0;
  li {
    a {
      display: block;
      padding: 5px;
      color: rgba(#f5c518, 0.7);
      font-weight: 500;
      text-decoration: none;
      &:hover {
        color: #f5c518;
        &:after {
          content: ' +';
        }
      }
    }
  }
}
.reset {
  border: none;
  background: none;
  color: var(--fg);
  cursor: pointer;
}
