@if (error$ | async; as error) {
  <p class="error">{{ error }} <button (click)="tryAgain()">Try Again</button></p>
} @else {
  <!-- FILTER -->
  <input type="text" [formControl]="nameControl" placeholder="Filter by name" />
  @if (filter$ | async; as value) {
    @if (value.length > 0) {
      <button type="button" class="reset" (click)="resetFilter()" aria-label="Reset filter">
        ✕
      </button>
    }
  }

  <!-- LIST -->
  @if (filteredPeople$ | async; as filteredPeople) {
    @if (filteredPeople.length > 0) {
      <ul>
        @for (person of filteredPeople; track person.uid) {
          <li>
            <a [routerLink]="person.uid">{{ person.name }}</a>
          </li>
        }
      </ul>
    } @else {
      <p class="warning">No characters found</p>
    }
    @if (response$ | async; as response) {
      @if (!(filter$ | async)) {
        <div class="pagination">
          <button class="buttons" (click)="prevPage()" [disabled]="!response.previous">Prev</button>

          Page {{ page$ | async }} / {{ response.total_pages }}

          <button class="buttons" (click)="nextPage()" [disabled]="!response.next">Next</button>
        </div>
      }
    }
  } @else {
    <p>Loading caracters...</p>
  }
}
