:host {
  display: block;
  padding: 10px;
}
h2 {
  font-size: 3em;
  color: var(--fg);
  font-family: var(--font-title);
}
p {
  strong {
    color: var(--fg);
    font-family: var(--font-title);
  }
}
